################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Orginal
/Orginal/bin/Debug/net8.0
/Orginal/obj
/Dependent/bin/Debug/net8.0
/Dependent/obj
/Orginal/bin/Release/net8.0
/.vs/ProjectEvaluation
/Dependent/bin/Release/net8.0
/SecondDependent/bin/Debug/net8.0
/SecondDependent/obj
